---
- name: Install common dependencies
  package:
    name:
      - curl
      - wget
      - git
      - htop
      - vim
      - net-tools
    state: present
  register: pkg_res
  retries: 5
  delay: 10
  until: pkg_res is success

- name: Disable Swap (Temporary)
  command: swapoff -a
  changed_when: false

- name: Disable Swap (Permanent)
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'

- name: Set up authorized keys
  authorized_key:
    user: "{{ ansible_user | default('root') }}"
    state: present
    key: "{{ lookup('file', '/home/ubuntu/.ssh/id_rsa.pub') }}"
  ignore_errors: yes

- name: Configure /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    mode: '0644'
